@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    /* font-family:Arial, Helvetica, sans-serif; */
    margin: 0 auto;
    font-family: "Open Sans", "sans-serif";
    text-align: center;
}

/* body {
    background-color:rgb(81, 90, 109);
} */

.header {
   
    /* position: absolute; */
    
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    
    
    
    /* margin-top:44vh; */
    height:100vh;
    position: relative;
}

.title {
    /* padding: 10px; */
    /* justify-content: center;
    align-items: center; */
    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgba(23, 21, 21, 0.916);

    position:absolute;
}

.header-1, .header-2, .header-3, .hello-message {
    transition: 0.3s ease-in;
}

.header-2:hover {
    color:orange;
}

.header-1:hover {
    color:dodgerblue;
}

.header-3:hover {
    color:forestgreen;
}

.content {
    width:95vw;
    /* border:1px solid black; */
    justify-content: center;
}

.buttons {
    border:none;
    border-radius: 10px;
    padding:7px;
    background-color:rgb(74, 164, 255);
    color:white;
    text-align:center;
}

/* .react-logo {
    display: none;
}

.react-name:hover + .react-logo {
    display:block;
} */

.welcome-message {

    text-align:center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:rgba(23, 21, 21, 0.916);

    position:absolute;

    display:none;
}

span.highlight {
    /* color:rgb(248, 183, 85); */
    color:rgb(255, 213, 0);
}

.card {
    /* background-color: rgb(19, 2, 51); */
    background-color: #0a7ea4ff;
    color:white;
    padding:30px;
    width:42vw;
    border-radius:26px;
    height:auto;
    margin-bottom: 20px;
}

.hello-message {
    font-size: clamp(16px, calc(20px + (36–20) * (100vw - 768px)/(1920–768)), 48px);
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-grid-triple {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.section-heading {
    font-size:3em;
    font-family: "Reddit Mono";
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  z-index: 9998; /* Ensure it's below the overlay */
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw; /* Adjust the width as needed */
  height: 90vh; /* Adjust the height as needed */
  max-width: 800px; /* Maximum width */
  max-height: 80vh; /* Maximum height */
  overflow:hidden;
  background-color: rgba(255, 255, 255);
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.overlay-content {
  padding: 20px;
  height: 100%; /* Make sure overlay content takes full height */
  /* overflow-y: auto; */
}

.overlay-heading {
  text-align:center;
  color:rgb(255, 170, 0);
  font-size:30px;
  padding:10px;
  padding-bottom:30px;
}

.scrollable-content {
  /* Adjust the maximum height as needed */
  max-height: calc(100% - 125px); 
  overflow-y: auto; /* Enable vertical scrolling */
}

.overlay-image {
  width:100%;
  height:auto;
}

.schools {
    width: 42vw;
    margin-bottom: 60px;
}

.image {
    width: 25vw; 
    height: auto; 
    border-radius: 16px;
}

.projects {
    border: 1px solid rgb(197, 197, 197);
    margin-bottom: 35px;
    border-radius: 16px;
    overflow:hidden;
}

.live-site {
    text-align: right;
    padding: 7px;
    cursor: pointer;
    margin-right: 6px;
    color: rgb(26, 110, 199);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease-in;
}

.live-site:hover {
    color: rgb(20, 74, 132);
}

@media only screen and (max-width: 1189px) {

    .card {
        padding:20px;
        border-radius:20px;
        font-size:0.6rem;
    }
}

@media only screen and (max-width: 900px) {

    .card {
        padding:10px;
        border-radius:15px;
        font-size:0.6rem;
    }
}

@media only screen and (max-width: 425px) {

    .card-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-grid-triple {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        width:75vw;
    }

    .card {
        margin-bottom:20px;
        width:70vw;
        padding:23px;
        border-radius:23px;
        font-size:0.5rem;
    }

    .welcome-message {
        display:block;
    }

    .title {
        display:none;
    }

    .schools {
        width:93vw;
    }
    
}